// Colours
beige       = #fbfbea
blue-dark   = #2c4780
gold        = #e6c68c
green       = #6fcf48
grey        = #ccc
grey-text   = #505050
grey-dark   = #333

@font-face
  font-family "EB Garamond"
  font-weight normal
  font-style normal  
  src url("../font/eb-garamond/EBGaramond-webfont.eot")
  src url("../font/eb-garamond/EBGaramond-webfont.eot?#iefix") format("embedded-opentype"),url("../font/eb-garamond/EBGaramond-webfont.woff") format("woff"),url("../font/eb-garamond/EBGaramond-webfont.ttf") format("truetype"),url("../font/eb-garamond/EBGaramond-webfont.svg#EBGaramondRegular") format("svg")

body
  margin 3em 0
  font 100%
  line-height 1.3125
  background url(../img/bg-cover.jpg) repeat left top

nav
  &.previous
  &.next
    position absolute
    top 19.75em
    a
      text-decoration none
      font-family 'Arial Narrow', Helvetica, sans-serif
      font-size 3em
      color gold
  &.previous
    left 0em
  &.next
    right 0em
    &.front
      right 16em
  
h1
  font-family Arial, Helvetica, sans-serif
  font-size 1.25em
  letter-spacing 0.1875em
  word-spacing 0.1875em
  text-align center
  a
    color gold
    text-decoration none
    &:hover
      text-decoration underline      

h2
  margin 1em 0 0.5em 0
  font-family 'Arial Black', Helvetica, sans-serif
  font-size 0.6875em
  letter-spacing 0.125em
  word-spacing 0.125em
  color grey-dark
  text-align center
  &.top
    margin-top 0em 

p
  margin 0
  font-family "EB Garamond", serif
  font-size 1em
  color grey-text
  letter-spacing 0.0625em
  word-spacing 0.0625em
  text-align justify
  text-indent 1.125em
  &.noindent
    text-indent inherit
  &.heading
    margin 0.25em 0 0 0
    text-indent 0em
    span
      font-family 'Arial Narrow', Helvetica, sans-serif
      font-size 0.9375em
      font-weight bolder
    
footer
  margin 1em auto 0 auto 
  p
    text-align center
    font-family 'Arial Narrow', Helvetica, sans-serif
    font-size 0.8125em
    letter-spacing 0.1875em
    text-indent 0em
    color gold
  a
    color gold

.wrap
  margin 0 auto
  position relative
  width 72em

.content
.content-cover
  display table
  margin 0 auto
  overflow hidden
  
.content
  background url(../img/bg-page.jpg) repeat left top

.page
  position relative
  float left
  width 25em
  height 35em 
  border 4em solid transparent
  &.separator
    border-right 0.0625em solid grey
    padding 0em 3.9375em 0em 0em
  img
    display block

.pg
  margin 0.5em 0 0 0
  font-family 'Arial Narrow', Helvetica, sans-serif
  font-size 1.125em
  font-weight bold
  text-indent 0em

.left
  .pg
    text-align left

.right
  .pg
    text-align right

// Page Specific Styles

.content-cover
  border 0.0625em solid gold
  
.pg-front
  img
    margin 3em 0em 7em 6em
  h2
    font-family Arial, Helvetica, sans-serif
    font-size 1.25em
    color gold
  h1
    margin 1em 0 0 0
    font-family 'Arial Narrow', Helvetica, sans-serif
    font-size 3em
    color gold

.pg-i 
  .disclaimer
    margin 8em 0 0 2em
    width 20em
    p
      color blue-dark
      line-height 1.5
      text-align center
      font-style italic
  .publisher
    margin 17em 0 0 0
    p
      color blue-dark
      text-align center
      font-size 0.6875em
      line-height 2.25
      letter-spacing 0.0625em
      word-spacing 0.1875em
      &.intro
        margin 0 0 0.5em 0
        font-style italic
        font-size 0.875em
        word-spacing 0em

.pg-ii
  width 23em
  padding 4em 4em 4em 0em
  border 0em solid transparent
  border-left 6em solid rgba(102,102,102,0.3);
  .title
    margin 5em 0 0 5em
    p
      font-family Arial, Helvetica, sans-serif
      font-size 1em
      font-weight bold
      letter-spacing 0.125em
      word-spacing 0.125em
      text-indent 0em
      color grey-dark
    h1
      margin 0.3125em 0 0 0
      text-align left    
      font-family 'Arial Narrow', Helvetica, sans-serif
      font-size 2.125em
  .subtitle
    margin 22em 0 0 0
    img
      margin -5.5em 0 0 -3.5em
    h2
      margin 0 0 1em 7em
      font-family 'Arial Black', Helvetica, sans-serif
      font-size 0.6875em
      letter-spacing 0.125em
      word-spacing 0.125em
      color grey-dark
      text-align left

.pg-iii 
  img
    position absolute
    top -3em
    left -2em    
  p
    margin 34em 0 0 0
    text-align center   

.pg-iv
  h1
    color green
    font-family 'Arial Narrow', Helvetica, sans-serif
    font-size 1.1875em
    letter-spacing 0.25em
    word-spacing 0.3125em
  h2
    margin 3em 0 1.25em 0
    font-family 'Arial Black', Helvetica, sans-serif
    font-size 1.0625em
    letter-spacing 0.25em
  ul
    &.toc
      width 25em
      margin 0 auto
      padding 0em
      list-style none
      li
        margin 0
        line-height 1.375
        text-align right
        background url(../img/dotted.png) repeat-x right 0.9375em
        a
          text-decoration none
          color inherit        
        span
        em
          float left
          font-family "EB Garamond", serif          
          font-size 1.125em
          word-spacing 0.0625em
          padding 0em 0.5em 0em 0em
          background beige
        em
          display inline-block
          width 1em
          float none
          padding 0em
          font-style inherit                

.pg-v
  border 4em solid rgba(111,207,72,0.8)
  h2
    margin 3em 0 1em 0em
    font-family 'Arial Narrow', Helvetica, sans-serif
    font-size 1.75em
    letter-spacing 0.4em
  blockquote
    text-align center
    margin 0 0 2em 0em
    &.maori
      font-size 1.25em
      letter-spacing 0.125em
      cite
        font-size 0.7em
        font-style italic
        letter-spacing normal
        padding 0em 0em 0em 4em
    &.english
      font-size 1em
      font-style italic

.pg-1
  img
    margin 0 0 0.75em 0
    
.pg-5
  img
    margin 0 0 1.25em 0
    
.pg-6
  img
    margin 0.5em auto 0 auto
    
.pg-8
  img
    margin 1em 0 0 0
    
.pg-11
  img
    margin 1.875em auto
    
.pg-14
.pg-15
  img
    position absolute
    top -4em
    left -4em
  p
    margin 27em 0 0 0
    font-size 0.9375em
  span
    &.dropcap
      float left
      font-size 3em
      line-height 0.5em
      padding 0.125em 0em 0em 0em
      color green
      
.pg-17
  img
    margin 1em 0 1em 0
    
.pg-20
.pg-21
  img
    position absolute
    top -4em
    left -4em

.pg-22
  h2
    margin 0em 0 0.5em 0

.pg-27
  img
    margin 1em 0 0 0
    
.pg-29
  img
    margin 0 0 2em 0 
    
.pg-32
.pg-33
  img
    position absolute
    top 0em
    left -2em 
    
.pg-35
  img
    margin 0 0 1.5em 0

.pg-35
.pg-36
.pg-37
.pg-38
.pg-39
  .glossary
    ul
      margin 0
      padding 0em
      width 11.5em
      list-style none
      float left
      &.right
        padding 0em 0em 0em 2em
      li   
        margin 0 0 0 1em
        font-family "EB Garamond", serif         
        font-size 0.875em
        line-height 1.375
        text-indent -1em
        &.hang
          text-indent 0em
    br
      clear left        

.pg-40
.pg-41
  img
    position absolute
    top 0em
    left -1em

.pg-42
  img
    margin 3em auto 0 auto

.pg-43
  img
    position absolute
    top -4em
    left -4em
  p
    margin 27.5em 0 0 0
    font-size 0.9375em
  span
    &.dropcap
      float left
      font-size 3em
      line-height 0.5em
      padding 0.1875em 0.0625em 0em 0em
      
.pg-44
  h2
    margin 0
    padding 0em 0em 0.25em 0em
    border-bottom 0.125em solid green
  p
    margin 60em 0 0 0
    font-family Arial, Helvetica, sans-serif
    font-size 0.375em
    text-align center
    color grey-text
    
.pg-45
  a
    color inherit    
  
@media only screen and (max-width: 72em)

  header
  footer
  .wrap
    width 39em
    
  header
    margin 0 auto
    
  nav.previous
  nav.next
    top 40.75em  
    &.next
      right 0em
      &.front
        top 20em
        
  .content
  .content-cover
    display block
    width 33em 
    
  .page
    &.separator
      border-right 4em solid transparent
      border-bottom 0.0625em solid grey
      padding 0em 0em 3.9375em 0em    
    
  .left
  .right
    .pg
      text-align center
      
  .pg-15
  .pg-43 
    img
      position absolute
      top -4em
      left -4em
    