extend templates/layout

block content

  nav.previous
    a(href="index.html") &laquo;

  nav.next
    a(href="2.html") &raquo;

  .content

    .page.left.pg-i

      .disclaimer
        p For use of Military Personnel only. Not to be republished, in whole or in part, without the consent of the War Department.
      .publisher
        p.intro Prepared by
        p SPECIAL SERVICE DIVISION, ARMY SERVICE FORCES
        p UNITED STATES ARMY

    .page.right.pg-ii

      .title
        p A SHORT GUIDE TO
        h1 NEW ZEALAND
      .subtitle
        h2 WAR AND NAVY DEPARTMENTS
        h2 WASHINGTON, D. C.
        img(src="assets/img/emblem.png", alt="", width="110", height="110")
