extend templates/layout

block content

  nav.previous
    a(href="10.html") &laquo;

  nav.next
    a(href="12.html") &raquo;

  .content.hyphenate

    .page.left.pg-16.separator

      p.noindent mountains and foothills there is seldom any snow. There is plenty of rain, much more than in most of the United States, especially in the winter months. Summers are fairly cool, and heat waves are rare. You will notice that there is very often, in fact almost always, a slight wind. This sweeps away the haze and gives the country an extraordinarily clear atmosphere.
      p Wellington, the capital, has a reputation for its winds&mdash;the &ldquo;southerly busters&rdquo;; they say you can tell a Wellingtonian anywhere in the world because he clutches his hat instinctively as he turns a street corner.
      h2 WHAT IS A DOMINION?
      p.noindent NEW ZEALAND is a British Dominion. That is to say, it does not <em>belong</em> to Britain, but is an independent nation, which is voluntarily a member of the British Commonwealth of Nations, such as Canada, Australia, and South Africa. All are free and equal and fly their own flags as well as the Union Jack. The King of England is the titular head and he is represented in New Zealand by a Governor-General; but neither the King nor the Governor-General exercises any real political power, and the country is governed by its own parliament. In League of Nations meetings for instance, New Zealand sometimes expressed views very different from those of Britain.

      div.pg 16

    .page.right.pg-17

      p.noindent England can&rsquo;t declare war or make peace or sign treaties for any Dominion. New Zealand declared war on Germany and Japan itself and raised its own Army. A New Zealander will sign the peace treaties for New Zealand when that day comes.
      p New Zealand has its own Minister in Washington and everyone agrees that relations between New Zealand and the United States will be more than ever important as time goes on.
      p The Parliament, which meets in Wellington, is very much like the British&mdash;an upper house appointed by the Governor-General and having very limited powers, and

      img(src="assets/img/speech.jpg", alt="", width="400", height="238")

      div.pg 17