extend templates/layout

block content

  nav.previous
    a(href="11.html") &laquo;

  nav.next
    a(href="13.html") &raquo;

  .content.hyphenate

    .page.left.pg-18.separator

      p.noindent a lower house elected every 3 years by the people. The party winning the most seats forms the government in power, headed by the party leader, who becomes Prime Minister, and a Cabinet of about 12 other ministers. In 1935 a labor government came into office for the first time and was reelected in 1938. Since the outbreak of the war there has been a special War Cabinet.
      p All citizens over 21 are entitled to vote and are <em>required</em> to register on the electoral rolls.
      h2 HOW NEW ZEALAND MAKES ITS LIVING
      p.noindent NEW ZEALAND is considered to be one of the most efficient farming countries in the world. From New Zealand&rsquo;s agricultural areas and modern factories are turned out huge quantities of butter and cheese.
      p The other main industry in the islands is sheep farming, both for wool and for the meat and hides. The wild, hilly country is used for wool sheep while the sheep and lambs intended for meat are fattened up on the flat country where pasture and root crops are grown for them. Pigs (seldom called hogs) and beef cattle are also raised in smaller numbers.
      p Unlike Australia, New Zealand has relatively few really large sheep ranches called &ldquo;stations&rdquo; The few there are lie mostly in the hilly back country (&ldquo;Back blocks&rdquo;). On the other hand, the small farmer (called a &ldquo;cocky&rdquo;) is the typical figure in New Zealand country life.


      div.pg 18

    .page.right.pg-19

      p Agriculture is less important. Wheat, oats, barley, and potatoes are widely cultivated but not for export. Root crops and alfalfa (called &ldquo;lucerne&rdquo;) are grown for feed. You&rsquo;ll see practically no corn (called maize).
      p Mining is mostly limited to coal. There was a considerable gold rush in the last century, but gold mining, while still carried on is no longer of major importance. There are no large iron mines and hence no large iron and steel industry. While New Zealand&rsquo;s industrial plants are relatively small, they turn out a very wide range of products.
      p New Zealand lacks petroleum, cotton, rayon, aluminum, copper, and paper, and therefore depends on imports for many raw materials as well as manufactured goods. It lives by exchanging its farm products for these manufactures from Europe and America. It thus has a very large foreign trade, more than three-quarters of it with Britain.
      h2 NEW ZEALAND&rsquo;S MONUMENTS
      p.noindent NEW ZEALAND is so young that she has little history and few monuments of the visible type. Yet to the nation&rsquo;s credit are some of the great achievements of the century though you have to look in the book of statistics to find them. For instance, she has the world&rsquo;s greatest expectation of life and the lowest death rate. In other words, a baby born in New Zealand has a better chance

      div.pg 19