extend templates/layout

block content

  nav.previous
    a(href="18.html") &laquo;

  nav.next
    a(href="20.html") &raquo;

  .content

    .page.left.pg-32.separator

      img(src="assets/img/fighting.jpg", alt="", width="464", height="558")

    .page.right.pg-33

      img(src="assets/img/fighting2.jpg", alt="", width="464", height="566")