extend templates/layout

block content

  nav.previous
    a(href="19.html") &laquo;

  nav.next
    a(href="21.html") &raquo;

  .content.hyphenate

    .page.left.pg-34.separator

      p.noindent brought about a pressing manpower shortage and women are replacing men wherever possible. All girls between certain ages are liable for work in essential services. New Zealand knows as we do that everything is at stake in this war and no sacrifice is too great.
      h2 HOW THEY TALK
      p.noindent NEW ZEALANDERS speak English with an accent all their own. It is apt to sound a bit like English Cockney to American ears, although it really isn&rsquo;t. Such words as &ldquo;now&rdquo; are given a rather nasal pronunciation like &ldquo;neow.&rdquo; Words like &ldquo;day&rdquo; sometimes sound a little like &ldquo;die.&rdquo; There is a story, probably untrue, of a child who was asked to describe a bison. He said, &ldquo;A bison is what you wash your hands and fice in!&rdquo;
      p You&rsquo;ll soon learn that the &ldquo;Z&rdquo; in New Zealand is pronounced Zed, not Zee. You&rsquo;ll find out, too, that your New Zealand buddy is no Puritan when it comes to swearing. You hear the word &ldquo;bloody&rdquo;&mdash;bloody this and bloody that&mdash;all over the place, except in mixed company.
      p As in Australia and Great Britain, many words have different meanings or are used differently. Thus, a biscuit is called a scone and an undershirt is called a singlet. Study the following list carefully, it contains some real surprises.
      div.pg 34

    .page.right.pg-35

      img(src="assets/img/tiki.jpg", alt="", width="400", height="227")

      h2 GLOSSARY OF TERMS

      .glossary
        ul.left
          li Aisle (theatre)&mdash;<em>gangway</em>.
          li Apartment house&mdash;<em>block of flats</em>.
          li Ash can&mdash;<em>dust bin</em>.
          li Ashman&mdash;<em>dustman</em>.
          li Atomizer&mdash;<em>scent spray</em>.
          li Baggage car&mdash;<em>luggage van</em>.
          li Bartender&mdash;<em>barman</em>.
          li Bill (money)&mdash;<em>banknote or note</em>.
          li Billboard&mdash;<em>hoarding</em>.
          li Biscuit&mdash;<em>scone or tea cake</em>.
          li Bouncer&mdash;<em>chucker out</em>.
          li Broiled (meat)&mdash;<em>grilled</em>.
        ul.right
          li Business suit&mdash;<em>loungesuit</em>.
          li Candy (hard)&mdash;<em>boiled sweets</em>.
          li Candy store&mdash;<em>sweet shop</em>.
          li Can opener&mdash;<em>tin opener or key</em>.
          li Check baggage&mdash;<em>register luggage</em>.
          li Checkers (game)&mdash;<em>draughts</em>.
          li Conductor&mdash;<em>guard</em>.
          li Closet&mdash;<em>cupboard</em>.
          li Coal oil&mdash;<em>paraffin</em>.
          li Cookie&mdash;<em>biscuit</em>.
          li Corn&mdash;<em>maizeor Indian corn</em>.
          li Cotton (absorbent)&mdash;<em>cotton wool</em>.
        br

      div.pg 35