extend templates/layout

block content

  nav.previous
    a(href="20.html") &laquo;

  nav.next
    a(href="22.html") &raquo;

  .content.hyphenate

    .page.left.pg-36.separator

      .glossary
        ul.left
          li Cracker&mdash;<em>biscuit (unsweetened)</em>.
          li Derby (hat)&mdash;<em>bowler</em>.
          li Dessert&mdash;<em>sweet or pudding</em>.
          li Dishpan&mdash;<em>washing-up bowl</em>.
          li Druggist&mdash;<em>chemist</em>.
          li Drug store&mdash;<em>chemist&rsquo;s shop</em>.
          li Drygoods store&mdash;<em>draper&rsquo;s shop</em>.
          li Elevator&mdash;<em>lift</em>.
          li Fish dealer&mdash;<em>fishmonger</em>.
          li Floorwalker&mdash;<em>shopwalker</em>.
          li Frame house&mdash;<em>wooden house</em>.
          li Fruit seller (or dealer)&mdash;<em>fruiterer</em>.
          li Fruit store&mdash;<em>fruiterer&rsquo;s</em>.
          li Fresh fruit&mdash;<em>dessert (at the end of a meal)</em>.
          li French fried potatoes&mdash;<em>chips</em>.
          li Freight car&mdash;<em>goods wagon</em>.
          li Garters (men&rsquo;s)&mdash;<em>sock suspenders</em>.
          li Gasoline or gas&mdash;<em>petrol</em>.
          li Gear shift (automobile)&mdash;<em>gear lever</em>.
          li Generator (automobile)&mdash;<em>dynamo</em>.
          li Ground wire (radio)&mdash;<em>earth wire</em>.
          li Hardware&mdash;<em>ironmongery</em>.
          li Hood (automobile)&mdash;<em>bonnet</em>.
          li Hunting&mdash;<em>shooting</em>.
          li Instalment plan&mdash;<em>hire-purchase system, or hire system</em>.
        ul.right
          li Intermission&mdash;<em>interval</em>.
          li Lawyer&mdash;<em>solicitor</em>.
          li Line up&mdash;<em>queue up</em>.
          li Molasses&mdash;<em>black treacle</em>.
          li Monkey wrench&mdash;<em>screw spanner</em>.
          li Movies&mdash;<em>flicks</em>.
          li Mucilage&mdash;<em>gum</em>.
          li Muffler (automobile)&mdash;<em>silencer</em>.
          li Oatmeal (boiled)&mdash;<em>porridge</em>.
          li Oil pan (automobile)&mdash;<em>sump</em>.
          li Orchestra seats&mdash;<em>stalls</em>.
          li Phonograph&mdash;<em>gramophone</em>.
          li Pie (fruit)&mdash;<em>tart</em>.
          li Pitcher&mdash;<em>jug</em>.
          li Potato chips&mdash;<em>crisps</em>.
          li Push cart&mdash;<em>barrow</em>.
          li Radio&mdash;<em>wireless</em>.
          li Railway car&mdash;<em>railway carriage</em>.
          li Raincoat&mdash;<em>mackintosh, or mac, or waterproof</em>.
          li Roadster (automobile)&mdash;<em>two-seater</em>.
          li Roller coaster&mdash;<em>switchback railway</em>.
          li Round trip&mdash;<em>return trip</em>.
          li Rubbers&mdash;<em>galoshes</em>.
          li Rumble seat&mdash;<em>dickey</em>.
          li Saloon&mdash;<em>pub, or hotel</em>.
        br

      div.pg 36

    .page.right.pg-37

      .glossary
        ul.left
          li Second floor&mdash;<em>first floor</em>.
          li Sewerage (house)&mdash;<em>drains</em>.
          li Shoestring&mdash;<em>bootlace or shoelace</em>.
          li Rubberneck wagon&mdash;<em>cher-u-banc</em>.
          li Silverware&mdash;<em>plate</em>.
          li Sled&mdash;<em>sledge</em>.
          li Soda biscuit (or cracker)&mdash;<em>cream-cracker</em>.
          li Squash&mdash;<em>vegetable marrow</em>.
          li Sugar-bowl&mdash;<em>sugar-basin</em>.
          li Sweater&mdash;<em>pull-over</em>.
          li Syrup&mdash;<em>treacle</em>.
          li Taffy&mdash;<em>toffee</em>.
          li Tenderloin (of beef)&mdash;<em>undercut</em>
        ul.right
          li.hang <em>or fillet</em>.
          li Thumb-tack&mdash;<em>drawing pin</em>.
          li Ticket office&mdash;<em>booking office</em>.
          li Top (automobile)&mdash;<em>hood</em>.
          li Transom (of door)&mdash;<em>fanlight</em>.
          li Trolley&mdash;<em>tram</em>.
          li Truck&mdash;<em>lorry</em>.
          li Undershirt&mdash;<em>vest or singlet</em>.
          li Union-suit&mdash;<em>combinations</em>.
          li Vest&mdash;<em>waistcoat</em>.
          li Washbowl&mdash;<em>washbasin</em>.
          li Water heater&mdash;<em>geyser</em>.
          li Windshield (automobile)&mdash;<em>windscreen</em>.
        br

        h2 SLANGUAGE
        p.noindent YOU won&rsquo;t find New Zealanders taking any back seat when it comes to tossing the lingo around and you may find yourself slow on the uptake until you get hep. Some of their slang words and expressions are shared with the British and Australians. Some are home-grown. And most New Zealanders have a fair working knowledge of American slang, having heard it from the movies (called the &ldquo;pictures&rdquo; or &ldquo;the flicks&rdquo;).
        p You may be confused for a while. For instance, to &ldquo;graft&rdquo; means to work hard, and to be &ldquo;crook&rdquo; is to be ill or out of sorts. A &ldquo;john&rdquo; means a cop, not a toilet, and the latter is sometimes called (between men only) a
      div.pg 37