extend templates/layout

block content

  nav.previous
    a(href="21.html") &laquo;

  nav.next
    a(href="23.html") &raquo;

  .content.hyphenate

    .page.left.pg-38.separator

      p.noindent &ldquo;dyke&rdquo; or &ldquo;house of parliament.&rdquo; To &ldquo;skite&rdquo; is to boast or shoot off your mouth. A &ldquo;tart&rdquo; is a common name for a girl, just like our &ldquo;dame,&rdquo; and does not mean a loose woman.
      p &ldquo;Cow&rdquo; is a common word of abuse, not so surprising when so many of the people have to struggle with the beasts. If something is godawful, they&rsquo;ll say it&rsquo;s a &ldquo;fair cow,&rdquo; or they&rsquo;ll call a bad day a &ldquo;cow of a day.&rdquo; But to say a thing is a &ldquo;corker&rdquo; or &ldquo;bosker&rdquo; means that it&rsquo;s swell, while &ldquo;fair dinkum&rdquo; means honest-to-god.
      p Don&rsquo;t call anyone a &ldquo;bum&rdquo; or you&rsquo;ll be in trouble. To a New Zealander, as well as to an Australian, the word is a vulgar way of referring to the backside.
      p To help put you wise, here is a short list of the most common slang words and expressions.
      h2 GLOSSARY OF SLANG

      .glossary
        ul.left
          li <em>Anzac</em>&mdash;Australian and New Zealand Army Corps (in the last war); a member of that corps.
          li <em>Anzac Day</em>&mdash;April 25. The day the Australians and New Zealanders landed at Gallipoli in 1915, now kept as a solemn holiday.
          li <em>Aussie</em>&mdash;Australian (noun or adjective).
          li <em>Argue the toss</em>&mdash;argue, dispute.
        ul.right
          li <em>Benzine</em>&mdash;gasoline.
          li <em>Bloke</em>&mdash;man.
          li <em>Cobber</em>&mdash;friend.
          li <em>Cocky</em>&mdash;farmer, generally on a small farm.
          li <em>Cow-cocky</em>&mdash;dairy farmer.
          li <em>Corker</em>&mdash;very good.
          li <em>Cove</em>&mdash;man.
          li <em>Cow</em>&mdash;may just mean cow, but may also mean an unpleasant
        br

      div.pg 38

    .page.right.pg-39

      .glossary
        ul.left
          li.hang man, woman, or situation. These things may also be called, progressively, a <em>fair cow</em>, and a <em>fair adjectival cow</em>.
          li <em>Crook</em>&mdash;ill, bad. <em>To feel crook</em>, to feel ill. <em>A crook boss</em>, a bad employer.
          li <em>Crook, to go</em>&mdash;to give vent to anger. Also <em>fly off the handle</em>, <em>hit the roof</em>.
          li <em>Dig, digger</em>&mdash;Australian or New Zealand soldier.
          li <em>Dinkum</em>&mdash;true, genuine. <em>The dinkum oil</em>, the real truth.
          li <em>Fair treat</em>&mdash;denotes emphasis- e. g., the boss went crook a fair treat.
          li <em>Half a dollar</em>&mdash;two shillings and sixpence. But your dollar is worth 6s 1d New Zealand money now.
          li <em>Jake, jakealoo</em>&mdash;good, okay.
          li <em>Joker</em>&mdash;man.
          li <em>Lollies</em>&mdash;candy.
          li <em>Nark</em>&mdash;an unpleasant person. <em>Fair nark</em>&mdash;a very unpleasant person. To nark: to spoil&mdash;<br />e. g., now you&rsquo;ve gone and narked the whole show!
        ul.right
          li <em>Pinch</em>&mdash;steal.
          li <em>Pommie</em>&mdash;English person.
          li <em>Possie, Pozzie</em>&mdash;position.
          li <em>Scone</em>&mdash;baking-powder biscuit.
          li <em>Screw</em>&mdash;salary, wage.
          li <em>Sheep station</em>&mdash;big sheep farm, ranch.
          li <em>Sheila, skirt</em>&mdash;girl.
          li <em>Shout</em>&mdash;buy something for someone (often a drink).
          li <em>Skite</em>&mdash;boast, brag (verb), boaster (noun).
          li <em>Squatter</em>&mdash;farmer, generally sheep farmer on a big scale.
          li <em>Station</em> (railway)&mdash;depot.
          li <em>Stone</em>&mdash;14 pounds, a joker who goes 10 stone 12,, is a guy who weighs 152 pounds.
          li <em>Too right</em>&mdash;certainly, sure.
          li <em>Torch</em>&mdash;flashlight.
          li <em>Tram</em>&mdash;street car, trolley car.
          li <em>Up the pole</em>&mdash;ruined, made a mess of.
          li <em>Waterside worker</em>&mdash;longshore-man.
          li <em>Wowser</em>&mdash;spoil-sport, temperance advocate, puritanical person.
        br

      div.pg 39