extend templates/layout

block content

  nav.previous
    a(href="22.html") &laquo;

  nav.next
    a(href="24.html") &raquo;

  .content

    .page.left.pg-40.separator

      img(src="assets/img/coins.jpg", alt="", width="432", height="531")

    .page.right.pg-41

      img(src="assets/img/coins2.jpg", alt="", width="432", height="533")