extend templates/layout

block content

  nav.previous
    a(href="23.html") &laquo;

  nav.next
    a(href="25.html") &raquo;

  .content.hyphenate

    .page.left.pg-42.separator

      h2 WEIGHTS AND MEASURES
      p.noindent THESE are practically the same as ours, but they use the &ldquo;imperial gallon.&rdquo; This makes their gallons, quarts, and pints about one-fifth larger than ours. Their bushels are also a little larger than the corresponding American units.
      h2 CONCLUSION
      p.noindent YOU&rsquo;RE going to like New Zealand and its people. American troops that have preceded you have made plenty of firm friends and thereby paved the way for you. You&rsquo;ll soon feel at home, particularly if you remember from the beginning that you have plenty to learn, especially from the New Zealanders themselves. No warnings are needed by any man of common sense and good will.
      p Always remember that it will take mutual cooperation to win the war, and <em>mutual understanding</em> to win the peace. If you make friends wherever you go, you are not only doing a fine job for yourself and your country, but for humanity and the future of the world.
      img(src="assets/img/tree-fern-half.jpg", alt="", width="200", height="59")

      div.pg 42

    .page.right.pg-43

      img(src="assets/img/australasia.jpg", alt="", width="528", height="457")
      p.noindent <span class="dropcap">T</span>HIS map makes clear how once having obtained holds in the Philippines and in Malaya, it was a relatively simple matter for the Japanese to jump from one island to the next until they dominated the area off Australia&rsquo;s northern coast. It was from the bases of this northern coast, and from New Caledonia and New Zealand that the United Nations slowed the Jap drive south.