extend templates/layout

block content

  nav.previous
    a(href="24.html") &laquo;

  nav.next
    a(href="index.html") &raquo;

  .content.hyphenate

    .page.left.pg-44.separator

      h2 NOTES

      p U S GOVERNMENT PRINTING OFFICE : 1943&mdash;O-508798

    .page.right.pg-45

      h2 ABOUT THIS GUIDE

      p.noindent The &ldquo;Pocket Guide to New Zealand&rdquo; was given to American G.I.s during the Second World War before visiting New Zealand. As well as being of historical importance, it presents a charming insight into New Zealand culture during the war and more importantly, how we were perceived by our allies the United States. Where possible, I have attempted to reproduce the guide as close to the original layout and typography as possible. If you are interested in viewing the original, a copy is available in the Internet Archive <a href="http://archive.org/details/PocketGuideToNewZealand_876" target="_blank">here</a>.
      h2 TIPS FOR VIEWING
      p.noindent The guide is best viewed in a modern browser and ideally on a wide screen (though the guide will adjust to smaller screens). Left and right arrow keys can be used for navigation.
      h2 MORE INFORMATION
      p.noindent For more information about this project and the techniques used, please visit my website, <a href="www.iota.co.nz" target="_blank">www.iota.co.nz</a>.
      br
      p.noindent Many thanks to my mother Gwen who passed this on to me. The guide belonged to Nancy McDowell, a close friend of my late grandfather, Alan Hyslop (of Bardwell Park, Sydney).
      br
      p.noindent <em>Rob Anderson, October 2012</em>