extend templates/layout

block content

  nav.next.front
    a(href="1.html") &raquo;

  .content-cover

    .page.pg-front

      img(src="assets/img/kiwi.png", alt="", width="250", height="189")
      h2 POCKET GUIDE TO
      h1 NEW ZEALAND
